
*{
    box-sizing: border-box;
    background-color: #252627;
    font-family: monospace;
    }
    
li,a,button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: aqua;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    /* text-align: left; */

}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #222;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: aqua;
    font-weight: 200;
}
button:hover{
    background-color: aqua;
    color:#222;
}


h1{
    align-self: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

